openapi: 3.1.0
info:
  title: Google AdSense Management Accounts API
  description: The AdSense Management API allows publishers to access their inventory and run earnings and performance reports. It provides programmatic access to ad clients, ad units, custom channels, URL channels, payments, and reports.
  version: v2
  contact:
    name: Google
    url: https://developers.google.com/adsense/management
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://adsense.googleapis.com
  description: AdSense Management API server
security:
- oauth2:
  - https://www.googleapis.com/auth/adsense
tags:
- name: Accounts
paths:
  /v2/accounts:
    get:
      summary: Google AdSense Management List accounts
      description: Lists all accounts available to the caller.
      operationId: listAccounts
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
      tags:
      - Accounts
components:
  schemas:
    Account:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        reportingTimeZone:
          type: string
        state:
          type: string
    ListAccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adsense: View and manage AdSense data
            https://www.googleapis.com/auth/adsense.readonly: View AdSense data
