openapi: 3.1.0
info:
  title: Google AdSense Management Accounts Reports:generate API
  description: The AdSense Management API allows publishers to access their inventory and run earnings and performance reports. It provides programmatic access to ad clients, ad units, custom channels, URL channels, payments, and reports.
  version: v2
  contact:
    name: Google
    url: https://developers.google.com/adsense/management
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://adsense.googleapis.com
  description: AdSense Management API server
security:
- oauth2:
  - https://www.googleapis.com/auth/adsense
tags:
- name: Reports:generate
paths:
  /v2/{account}/reports:generate:
    get:
      summary: Google AdSense Management Generate report
      description: Generates an AdSense report based on the report request.
      operationId: generateReport
      parameters:
      - name: account
        in: path
        required: true
        schema:
          type: string
      - name: dateRange
        in: query
        schema:
          type: string
      - name: metrics
        in: query
        schema:
          type: array
          items:
            type: string
      - name: dimensions
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResult'
      tags:
      - Reports:generate
components:
  schemas:
    ReportResult:
      type: object
      properties:
        totalMatchedRows:
          type: string
        headers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
        rows:
          type: array
          items:
            type: object
            properties:
              cells:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adsense: View and manage AdSense data
            https://www.googleapis.com/auth/adsense.readonly: View AdSense data
