openapi: 3.1.0
info:
  title: Google AdSense Management Accounts Payments API
  description: The AdSense Management API allows publishers to access their inventory and run earnings and performance reports. It provides programmatic access to ad clients, ad units, custom channels, URL channels, payments, and reports.
  version: v2
  contact:
    name: Google
    url: https://developers.google.com/adsense/management
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://adsense.googleapis.com
  description: AdSense Management API server
security:
- oauth2:
  - https://www.googleapis.com/auth/adsense
tags:
- name: Payments
paths:
  /v2/{parent}/payments:
    get:
      summary: Google AdSense Management List payments
      description: Lists all payments for the specified account.
      operationId: listPayments
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentsResponse'
      tags:
      - Payments
components:
  schemas:
    ListPaymentsResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
    Payment:
      type: object
      properties:
        name:
          type: string
        date:
          type: string
        amount:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adsense: View and manage AdSense data
            https://www.googleapis.com/auth/adsense.readonly: View AdSense data
